@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
.Home_carousel__zZTHS button span { background-color: #ac17ff; transition: background-color 0.2s; }
.Home_carousel__zZTHS button span:hover { background-color: #9100df !important; }
.Home_center__4BFgC { display: flex; justify-content: center; }
.Home_slide1__g4ncJ { height: 80%; width: 80%; transform: rotate(-2deg) translate(-33px, 27px); margin-bottom: 2rem; }
.Home_slide1_1__jrIyT { transform: rotate(2deg) translate(33px, -27px); min-height: 25rem; }
.Home_header1__H4WNi { font-size: 2.5rem; line-height: 2.3rem; padding-top: 2rem; text-align: center; }
.Home_text1__ZEUKv { font-family: "Kiwi Maru", sans-serif; font-size: 14px; padding: 10px; width: 75%; margin: 1rem auto 0; }
.Home_schoolContainer__WcBd2 { font-family: "Kiwi Maru", sans-serif; min-width: 50%; max-width: 90%; display: flex; justify-content: center; align-items: center; padding: 0 40px; width: 90%; margin: 20px auto; background-color: #ffefce; transform: rotate(-1deg); line-height: 30px; }
.Home_linkTitle__Exz70 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 45px; line-height: 50px; color: #fff; text-shadow: 1px 1px 2px #ff8bd6; z-index: 20; letter-spacing: 1px; }
.Home_div___Q0U8 { display: grid; width: auto; margin: auto; }
.Home_linkImg__CdAPL { opacity: 0.4; }
.Home_button__Zs7A2 { margin: 1.5rem auto; }
.Home_singleButton1__sD0al { background-color: #ff8bd6; transform: rotate(-3deg); }
.Home_singleButton1__sD0al,
.Home_singleButton2__WvNIt { border-radius: 0; position: relative; text-align: center; width: 80vw; margin-bottom: 30px; }
.Home_singleButton2__WvNIt { background-color: #d387ff; transform: rotate(3deg); }
.Home_singleButton1__sD0al:hover { background-color: #fe05a2; transform: rotate(5deg); }
.Home_singleButton2__WvNIt:hover { background-color: #ac17ff; transform: rotate(-4deg); }
.Home_linkTitle__Exz70:hover { color: #fff; }
.Home_testimonialContainer__5tR2m { font-family: "Kiwi Maru", sans-serif; display: flex; align-items: center; justify-content: center; margin: 40px auto; padding: 30px 40px; background-color: #ffefce; transform: rotate(1.5deg); }
.Home_jared__xIQ8o { max-width: 100%; width: 150px; display: none; }
.Home_testText__yD_uB { background-color: #7fc638; margin: 0 20px; padding: 30px; }
.Home_quote__1kJP7 { font-size: 17px; color: #ffefce; }
.Home_name__Je8n6 { font-size: 15px; color: #ffe5b1; padding-top: 10px; }
.Home_hintLink__sqttJ { text-decoration: underline; transition: color 0.2s; }
.Home_hintLink__sqttJ:hover { color: #fff; }

@media only screen and (min-width: 600px) {
  .Home_slide1__g4ncJ { width: 30rem; max-height: 620px; }
  .Home_header1__H4WNi { font-size: 3rem; line-height: 3.5rem; }
  .Home_text1__ZEUKv { font-size: 16px; }
  .Home_SchoolContainer__2ui_N,
  .Home_testimonialContainer__5tR2m { max-width: 90%; }
  .Home_jared__xIQ8o { display: block; }
  .Home_singleButton1__sD0al,
  .Home_singleButton2__WvNIt { width: 500px; }
}

@media only screen and (min-width: 950px) {
  .Home_slide1__g4ncJ { width: 45rem; max-height: 520px; margin-bottom: 3rem; }
  .Home_header1__H4WNi { font-size: 3rem; padding-top: 3.4rem; }
  .Home_text1__ZEUKv { font-size: 18px; padding: 10px; }
  .Home_schoolContainer__WcBd2,
  .Home_testimonialContainer__5tR2m { max-width: 55rem; }
  .Home_jared__xIQ8o { display: block; }
  .Home_button__Zs7A2 { display: grid; max-width: 80%; }
  .Home_div___Q0U8 { grid-template-columns: 80% 20%; max-width: 70%; }
  .Home_linkTitle__Exz70 { font-size: 25px; line-height: 28px; }
  .Home_singleButton1__sD0al,
  .Home_singleButton2__WvNIt { max-width: 200px; }
}
