.Robot_pageWrapper__wlbSD { color: #fff; padding: 50px 2.5rem 0; display: grid; grid-row-gap: 2.5rem; row-gap: 2.5rem; }
.Robot_pageWrapper__wlbSD img { border-radius: 35px; border: 2.5px solid #000; }
.Robot_title__v_gWJ { font-size: 50px; text-align: center; font-weight: 700; }
.Robot_intro__7yXj0 { font-size: 1.3rem; font-weight: 500; }
.Robot_container__hSl5V,
.Robot_imageContainer__n3sse,
.Robot_rowOne__BsepB,
.Robot_vidRow__p13hw { border: 2px solid #fff; border-radius: 35px; display: grid; padding: 25px 30px; grid-row-gap: 2rem; row-gap: 2rem; }
.Robot_container__hSl5V,
.Robot_imageContainer__n3sse,
.Robot_vidRow__p13hw { justify-content: center; align-items: center; }
.Robot_container__hSl5V p { font-size: 20px; }
.Robot_label__7QmaM { font-size: 1.2rem; font-weight: 500; font-style: italic; text-align: center; }
.Robot_rowThree__emD05,
.Robot_rowTwo__NsD08 { display: grid; grid-row-gap: 2.5rem; row-gap: 2.5rem; }
.Robot_rowTwoModels__HlilQ { display: flex; flex-direction: column; justify-content: center; width: 100%; grid-row-gap: 2rem; row-gap: 2rem; }
.Robot_subheading__Zm3k_ { font-size: 2rem; font-weight: 600; }
.Robot_vidContainer__qyWPa { margin-bottom: 1.5rem; }
.Robot_video____4oN { margin: 0 auto 30px; width: 70vw; height: 50vw; }
.Robot_vidHeader__xThX2 { color: #fff; font-size: 40px; font-weight: bolder; padding: 0.75rem 1rem 1.5rem; text-align: center; }

@media screen and (min-width: 768px) {
  .Robot_pageWrapper__wlbSD { row-gap: 3rem; }
  .Robot_intro__7yXj0 { font-size: 1.45rem; }
  .Robot_video____4oN { width: 70vw; height: 40vw; margin-bottom: 40px; }
  .Robot_vidHeader__xThX2 { font-size: 45px; }
}

@media screen and (min-width: 1024px) {
  .Robot_pageWrapper__wlbSD { row-gap: 3.5rem; }
  .Robot_rowOne__BsepB,
  .Robot_vidRow__p13hw { grid-template-columns: repeat(3, 1fr); grid-column-gap: 2.5rem; column-gap: 2.5rem; column-gap: 2.5rem; height: 300px; }
  .Robot_rowOne__BsepB model-viewer { height: 100%; }
  .Robot_intro__7yXj0 { font-size: 1.6rem; }
}

@media screen and (min-width: 768px) and (max-width: 1280px) { .Robot_imageContainer__n3sse { grid-template-columns: repeat(2, 1fr); grid-column-gap: 1.5rem; column-gap: 1.5rem; column-gap: 1.5rem; } }

@media screen and (min-width: 1280px) {
  .Robot_rowTwo__NsD08 { grid-template-columns: repeat(2, 1fr); grid-column-gap: 2rem; column-gap: 2rem; column-gap: 2rem; }
  .Robot_rowTwo__NsD08 .Robot_container__hSl5V:first-child { grid-template-columns: repeat(2, 1fr); grid-column-gap: 1.8rem; column-gap: 1.8rem; column-gap: 1.8rem; }
  .Robot_rowTwoModels__HlilQ { height: 100%; }
  .Robot_rowThree__emD05 { grid-template-columns: 1fr 2fr 1fr; grid-column-gap: 2rem; column-gap: 2rem; column-gap: 2rem; }
}
