.Moohp_doorContainer__HBdh6 { overflow: hidden; }
.Moohp_puzzleArea__lwK9m { width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; z-index: 100; overflow: hidden; }
.Moohp_door__m8JkF { background-image: url(/puzzle/circuit-board.svg); background-repeat: repeat; width: 50vw; height: 100vh; position: absolute; top: 0; z-index: 80; }
#Moohp_leftDoor___7yGl { left: 0; border-right: 2px solid #050515; }
#Moohp_rightDoor__Qu_8p { right: 0; border-left: 2px solid #050515; }
.Moohp_doorLogoContainer__huEmA { position: relative; width: 100%; height: 100%; }
#Moohp_leftLogo__Gu17Q { background-image: url(/puzzle/left.png); right: 0; border-left: 1px solid #ccc; border-top-left-radius: 25px; border-bottom-left-radius: 25px; }
#Moohp_rightLogo__bmLLL { background-image: url(/puzzle/right.png); left: 0; border-right: 1px solid #ccc; border-top-right-radius: 25px; border-bottom-right-radius: 25px; }
#Moohp_leftLogo__Gu17Q,
#Moohp_rightLogo__bmLLL { position: absolute; top: 50%; transform: translateY(-50%); background-size: 100%; height: 215px; width: 129px; z-index: 100; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.Moohp_piece__edzZo { width: 129px; height: 107.5px; margin: 0 -1px -1px; background-repeat: no-repeat; display: grid; position: relative; z-index: 10; }
.Moohp_hero__Hd_Zu { display: flex; padding: 2rem 1rem 1rem; justify-content: center; align-items: center; }
.Moohp_intro__fcQ15 { color: #fff; padding: 0.5rem 2rem; text-align: center; }
.Moohp_intro__fcQ15 > h3 { font-weight: 700; font-size: 55px; }
.Moohp_moohpDesc__BPSBC { font-weight: 500; margin-bottom: 50px; }
.Moohp_moohpDesc__BPSBC,
.Moohp_moohpDesc__BPSBC li { font-size: 1.2rem; letter-spacing: 0.9px; }
.Moohp_jerryWelcome__3owd_ { display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 0.5rem; column-gap: 0.5rem; column-gap: 0.5rem; padding: 1.5rem 0 2.5rem; justify-content: center; align-items: center; }
.Moohp_initialGreeting__hg_MO { font-size: 1.05rem; }
.Moohp_initialWelcome__NW9cX { justify-content: center; align-items: center; }
.Moohp_initialWelcome__NW9cX,
.Moohp_inputGroup__TQBpP { display: flex; flex-direction: column; grid-row-gap: 0.5rem; row-gap: 0.5rem; }
.Moohp_inputName__24eYA { width: 100%; caret-color: #000; color: #000; font-weight: 500; border-radius: 7.5px; padding: 0.4rem 0.5rem; border: 2px solid #c9f2ff; box-shadow: 0 5px 20px #66d9ff50; line-height: 0.9rem; text-align: center; transition: background-color 0.3s, color 0.3s, border 0.3s; }
.Moohp_inputName__24eYA:focus { box-shadow: 0 5px 20px #66d9ff50 !important; border-color: #5ad6ff; }
.Moohp_inputName__24eYA::placeholder { font-size: 0.83rem; }
.Moohp_inputName__24eYA::placeholder { font-size: 0.83rem; }
.Moohp_enterName__nq40g { border: 2px solid #66d9ff; background: none; transition: background-color 0.2s, color 0.2s; box-shadow: 0 5px 20px #66d9ff50; }
.Moohp_enterName__nq40g:hover { background-color: #66d9ff; color: #4148a4; }
.Moohp_enterName__nq40g span { font-weight: 700; font-size: 0.9rem; width: 100%; display: inline-block; text-align: center; line-height: 0.9rem; }
.Moohp_welcomeAgent__l6A0D { font-size: 1.05rem; padding: 1rem; border: 1.5px solid #fff; border-radius: 20px; box-shadow: 0 7px 29px 0 rgb(75 203 223 / 34.9%); }
.Moohp_jerrySignature__YXNWm { margin-top: 0.5rem; font-style: italic; }

@media screen and (min-width: 640px) {
  .Moohp_hero__Hd_Zu { padding: 2.5rem 15vw 1.5rem; }
  .Moohp_initialWelcome__NW9cX { padding: 1rem; grid-row-gap: 0.8rem; row-gap: 0.8rem; }
  .Moohp_inputGroup__TQBpP { grid-row-gap: 0.7rem; row-gap: 0.7rem; }
  .Moohp_welcomeAgent__l6A0D { font-size: 1.25rem; letter-spacing: 0.3px; margin-left: 1rem; }
}

@media screen and (min-width: 768px) {
  .Moohp_intro__fcQ15 > h3 { font-size: 65px; }
  .Moohp_initialWelcome__NW9cX { grid-row-gap: 1rem; row-gap: 1rem; }
  .Moohp_initialGreeting__hg_MO { font-size: 1.3rem; }
  .Moohp_inputGroup__TQBpP { grid-row-gap: 0.8rem; row-gap: 0.8rem; }
  .Moohp_inputName__24eYA { line-height: 1rem; font-size: 1.05rem; }
  .Moohp_inputName__24eYA::placeholder { font-size: 0.9rem; }
  .Moohp_inputName__24eYA::placeholder { font-size: 0.9rem; }
  .Moohp_enterName__nq40g span { font-size: 1rem; line-height: 1rem; }
  .Moohp_welcomeAgent__l6A0D { font-size: 1.4rem; letter-spacing: 0.35px; }
}

@media screen and (min-width: 850px) {
  .Moohp_initialWelcome__NW9cX { grid-row-gap: 1.5rem; row-gap: 1.5rem; }
  .Moohp_initialGreeting__hg_MO { font-size: 1.5rem; }
  .Moohp_inputGroup__TQBpP { grid-row-gap: 0.9rem; row-gap: 0.9rem; }
  .Moohp_inputName__24eYA { line-height: 1.05rem; font-size: 1.1rem; }
  .Moohp_inputName__24eYA::placeholder { font-size: 1rem; }
  .Moohp_inputName__24eYA::placeholder { font-size: 1rem; }
  .Moohp_enterName__nq40g span { font-size: 1.05rem; line-height: 1.05rem; }
  .Moohp_welcomeAgent__l6A0D { font-size: 1.5rem; letter-spacing: 0.4px; }
}

@media screen and (min-width: 1024px) {
  .Moohp_hero__Hd_Zu { padding: 2em 20vw; }
  .Moohp_piece__edzZo { width: 150px; height: 125px; }
  #Moohp_leftLogo__Gu17Q,
  #Moohp_rightLogo__bmLLL { height: 250px; width: 150px; }
  .Moohp_moohpDesc__BPSBC { margin-bottom: 60px; }
  .Moohp_moohpDesc__BPSBC,
  .Moohp_moohpDesc__BPSBC li { font-size: 1.6rem; letter-spacing: 0.8px; padding: 0 0.5rem; }
  .Moohp_jerryWelcome__3owd_ { grid-template-columns: 1.5fr 2.5fr; padding: 1.7rem 0.5rem 2.7rem; }
  .Moohp_initialWelcome__NW9cX { grid-row-gap: 1.8rem; row-gap: 1.8rem; }
  .Moohp_initialGreeting__hg_MO { font-size: 1.7rem; }
  .Moohp_inputGroup__TQBpP { grid-row-gap: 1rem; row-gap: 1rem; }
  .Moohp_inputName__24eYA::placeholder { font-size: 1.4rem; line-height: 1.4rem; }
  .Moohp_enterName__nq40g span,
  .Moohp_inputName__24eYA,
  .Moohp_inputName__24eYA::placeholder { font-size: 1.4rem; line-height: 1.4rem; }
  .Moohp_welcomeAgent__l6A0D { font-size: 1.6rem; letter-spacing: 0.45px; padding: 1.3rem; }
}
