.card {
  display: grid;
  align-content: center;
  padding-top: 3ch;
  background-color: transparent;
}

/* 3D flip card implementation customized from
   https: //www.w3schools.com/howto/howto_css_flip_card.asp */

.flipCard {
  margin: auto;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.text {
  background: #4148a488;
  color: white;
  font-size: 16px;
  border-width: 0.15rem;
}

.bg {
  background-image: url(/backgrounds/purpleGrid.svg);
}

.name {
  font-size: 40px;
  font-style: italic;
}

.quote {
  font-size: 17px;
}

.img {
  border-radius: 10px;
  border-color: #fff;
  border-width: 0.15rem;
  height: 18.75rem;
  width: 18.75rem;
}

.title {
  font-size: 50px;
  font-weight: 700;
  padding: 7vh 7vh 1rem;
  display: grid;
  justify-content: center;
  color: #ffff;
}

.intro {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
  margin: 0px 0.5rem 2rem;
  background-color: #4148a488;
  border-radius: 8px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flipCardBack {
  background-color: #5b61be;
  color: #fff;
  transform: rotateY(180deg);
  display: grid;
  align-content: center;
  border-width: 0.15rem;
  padding: 5px 9px;
}

.flipCardBack h1 {
  font-size: 25px;
  font-weight: 700;
}

.flipCardBack h2 {
  font-size: 20px;
  font-weight: 600;
}

.flipCardBack strong {
  font-weight: 600;
}

.cardContainer {
  position: relative;
  display: grid;
  align-content: center;
  margin-top: 1.75rem;
  padding: 0vh 5vw 5vh;
}

.tapMe {
  display: block;
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  padding: 0.2rem 0.45rem;
  color: white;
  font-style: oblique;
}

.hoverMe {
  display: none;
}

@media screen and (pointer: fine) {
  /* this media query targets devices with a "precise" cursor
     and should target devices that can hover and click precisely
     (unlike phones, tablets, other mobile devices that have "tap") */
  .tapMe {
    display: none;
  }

  .hoverMe {
    display: block;
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    padding: 0.2rem 0.45rem;
    color: white;
    font-style: oblique;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    font-size: 1.4rem;
    padding: 1rem 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    font-size: 1.6rem;
    padding: 1rem 2.5rem 1.5rem;
  }
  
  .cardContainer {
    grid-template-columns: 25% 70%;
    grid-column-gap: 3rem;
    column-gap: 3rem;
    display: grid;
    justify-content: center;
  }

  .card {
    padding-top: 0ch;
    padding-left: 5ch;
  }

  .text {
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: 25% 50%;
  }
}
