.header {
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  color: white;
}

.intro {
  margin: auto;
  width: 90%;
  color: white;
  font-size: 25px;
  padding: 0px 2.5rem;
}

.aviaLogo {
  margin: auto;
  padding: 20px 0px;
}

.crcLogo {
  margin: auto;
  padding: 20px 0px 0px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  row-gap: 1.5rem;
}

.infoContainer {
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  order: -1;
}

.textOnly {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 0.4rem 1rem 0px;
  max-width: 90%;
  margin: auto;
}

.sectionTitle {
  font-size: 30px;
}

.info {
  border: 2px white solid;
  border-radius: 40px;
  line-height: 40px;
  padding: 20px;
  color: white;
  font-size: 20px;
}

.video {
  margin: auto;
  width: 70vw;
  height: 50vw;
  padding-bottom: 40px;
}

.vidHeader {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  padding: 20px 0px;
  text-align: center;
  line-height: 53px;
}

@media screen and (min-width: 767px) {
  .container model-viewer {
    height: 100%;
  }
  
  .header {
    font-size: 60px;
  }

  .intro {
    font-size: 24px;
  }

  .aviaLogo {
    width: 80%;
  }

  .crcLogo {
    width: 60%;
  }

  .container {
    grid-template-columns: 40% 60%;
    padding: 4rem 6rem 2rem;
    column-gap: 3.5rem;
  }

  .infoContainer {
    order: initial;
    row-gap: 1.5rem;
  }

  .textOnly {
    padding: 0.5rem 1.5rem 0px;
  }

  .video {
    height: 40vh;
  }
}

@media screen and (min-width: 767px) {
  .video {
    width: 50vw;
    height: 30vw;
  }
}

