.card {
    margin-top: 5vh;
    max-width: revert;
    border: 5px #D387FF solid;
}

.card img {
    border-radius: 2px;
}

.title {
    font-size: 70px;
    padding-top: 7vh;
    display: grid;
    justify-content: center;
}

.div {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 5vw;
    padding-bottom: 5vh;
    padding-top: 0vh;
}

@media screen and (min-width: 768px) {
    .div {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .div {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}