.card {
    margin-top: 5vh;
    max-width: revert;
    border: 7px #bf49ff solid;
}

.card img {
    border-radius: 2px;
}

.card:hover {
    transform: rotate(5deg);
    transition-duration: 0.3s;
}

.title {
    font-size: 70px;
    padding-top: 7vh;
    display: grid;
    justify-content: center;
}

.div {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 5vw;
    padding-bottom: 5vh;
    padding-top: 0vh;
}

<<<<<<< HEAD
.quote {
    color: #bf49ff;
    font-weight: bolder;
}

@media screen and (min-width: 767px) {
=======
@media screen and (min-width: 768px) {
>>>>>>> 54ba32510d22789fba8fc8984682d8a65eb388e9
    .div {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .div {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}