@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Irish Grover', serif;
}

* {
  box-sizing: border-box;
}

.topLeft {
  top: 0;
  left: 0;
}

.topRight {
  top: 0;
  right: 0;
}

.bottomLeft {
  bottom: 0;
  left: 0;
}

.bottomRight {
  bottom: 0;
  right: 0;
}
