@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap'); /* Irish Grover font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap'); /* Rajdhani font */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #regNav {
    background-color: #f8981d;
  }

  #spyNav {
    background-color: #a4a8db;
  }

  #regNav > div, #spyNav > div {
    height: 2.5rem;
  }

  #regNav a:not(.navLogo), #spyNav a:not(.navLogo) {
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    transition: background-color 0.25s;
    cursor: pointer;
  }

  #regNav ul {
    background-color: #f8981d;
    width: 100vw;
    outline: solid 20px #f8981d;
  }
  
  #spyNav ul {
    background-color: #a4a8db;
    width: 100vw;
    outline: solid 20px #a4a8db;
  }

  #regNav li, #spyNav li {
    z-index: 40;
  }

  #regNav button, #spyNav button {
    margin-left: 0.5rem;
    z-index: 45;
  }

  .navSecondCollapse ul {
    margin-top: 0;
  }

  #regLogo, #hiddenLogo {
    background-color: #f8981d;
  }

  #spyLogo, #hiddenRegLogo {
    background-color: #a4a8db;
  }

  #spyLogo img {
    filter: grayscale(1) invert(1);
  }

  .navLogo {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 25% 100%, 0 80%);
    margin-left: -30px;
    transform: translateX(-50%);
    opacity: 1;
    width: 80px;
    cursor: pointer;
  }

  #regLogo, #spyLogo {
    transition: opacity 2s, z-index 2.5s, user-select 2.2s linear;
    user-select: initial;
    z-index: 35;
  }

  #regLogo, #hiddenRegLogo {
    left: 50%;
    top: -28px;
    padding: 3px 18px 4.5px 5.5px;
  }

  #spyLogo, #hiddenLogo {
    top: -33.5px;
    padding: 4px 3.25px 6px 0px;
  }

  #regLogo:hover, #spyLogo:hover {
    opacity: 0;
    z-index: 25;
    user-select: none;
  }

  #hiddenLogo, #hiddenRegLogo {
    z-index: 30;
    transition: z-index 0.3s;
  }

  #hiddenLogo:hover, #hiddenRegLogo:hover {
    z-index: 40;
  }

  @media screen and (min-width: 767px) {
    .navLogo {
      margin-left: 0;
      width: 120px;
    }
    
    #regLogo, #hiddenRegLogo {
      width: 120px;
      top: -30px;
      padding: 10px 40px 10px 30px;
    }

    #hiddenLogo, #spyLogo {
      top: -36px;
      padding: 5px 14.25px 0px 12px;
    }

    #regNav ul, #spyNav ul {
      width: revert;
    }

    #regNav a:not(.navLogo), #spyNav a:not(.navLogo) {
      transition: color 0.25s;
    }

    #regNav a:not(.navLogo):hover {
      color: #fff;
    }

    #spyNav a:not(.navLogo):hover {
      color: #2c306d;
    }
  }
  
  .puzzle {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    padding: 0;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
    width: 300px;
    height: 250px;
  }

  .pOne {
    grid-area: a;
  }

  .pTwo {
    grid-area: b;
  }

  .pThree {
    grid-area: c;
  }

  .pFour {
    grid-area: d;
  }

  .one {
    background-image: url(/puzzle/one.png);
  }

  .two {
    background-image: url(/puzzle/two.png);
  }

  .three {
    background-image: url(/puzzle/three.png);
  }

  .four {
    background-image: url(/puzzle/four.png);
  }
}