.container {
    height: 100%;
}

.slide1{
    height: 500px;
    position: relative;
    background-image: url('/carousel/slide1_1.svg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.slide2{
    height: 500px;
    position: relative;
    background-image: url('/carousel/1.svg');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}
