@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); /* Kiwi Maru font */

.carousel {
	height: 600px;
}

.carousel > div {
	/* disable scroll-behavior: smooth in carousel
		for Safari which has known issues with smooth scrolling */
	scroll-behavior: auto;
}

.carousel button span {
/* for the carousel's left/right indicators */
	background-color: #ac17ff;
	transition: background-color 0.2s;
}

.carousel button span:hover {
	/* override default hover colour */
	background-color: #9100df !important;
}

.center {
	display: flex;
	justify-content: center;
}

.slide1{
	height: 80%;
	width: 80%;
	transform: rotate(-2deg) translate(-33px, 27px);
	margin-bottom: 2rem;
}

.slide1_1{
	transform: rotate(2deg) translate(33px, -27px);
	min-height: 25rem;
}

.header1 {
	font-size: 2.5rem;
	line-height: 2.3rem;
	padding-top: 2rem;
	text-align: center;
}

.text1 {
	font-family: 'Kiwi Maru', sans-serif;
	font-size: 14px;
	padding: 10px;
	width: 75%;
	margin: 1rem auto 0px;
}

.schoolContainer {
	font-family: 'Kiwi Maru', sans-serif;
	min-width: 50%;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 40px;
	margin: 20px auto;
	background-color: rgb(255, 239, 206);
	transform: rotate(-1deg);
	line-height: 30px;
}

.linkTitle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	line-height: 50px;
	color: white;
	text-shadow: 1px 1px 2px #FF8BD6;
	z-index: 20;
	letter-spacing: 1px;
}

.github {
	text-decoration: underline;
}

.div {
	display: grid;
	width: auto;
	margin: auto;
}

.linkImg {
	opacity: 0.4;
}

.button {
	margin: 1.5rem auto;
}

.singleButton1, .singleButton2 {
	padding: 0.7rem 1.15rem;
}

.singleButton1 {
	background-color: #FF8BD6;
	border-radius: 0;
	position: relative;
	text-align: center;
	transform: rotate(-3deg);
	width: 80vw;
	margin-bottom: 30px;
}

.singleButton2 {
	background-color: #D387FF;
	border-radius: 0;
	position: relative;
	text-align: center;
	transform: rotate(3deg);
	width: 80vw;
	margin-bottom: 30px;
}

.singleButton1:hover {
	background-color: #FE05A2 ;
	transform: rotate(5deg);
}

.singleButton2:hover {
	background-color: #AC17FF;
	transform: rotate(-4deg);
}

.linkTitle:hover{
	color: white;
}

/* testimonial */
.testimonialContainer {
	font-family: 'Kiwi Maru', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px auto;
	padding: 30px 40px;
	background-color: rgb(255, 239, 206);
	transform: rotate(1.5deg);
}

.jared {
	max-width: 100%;
	width: 150px;
	display: none;
}

.testimonialText {
	padding-left: 20px;
	background-color: #7FC638;
	margin: 0px 20px;
	padding: 30px;
}

.quote {
	font-size: 17px;
	color: rgb(255, 239, 206);
}

.name {
	font-size: 15px;
	color: rgb(255, 229, 177);
	padding-top: 10px;
}

.hintLink {
	text-decoration: underline;
	transition: color 0.2s;
	}

.hintLink:hover {
	color: #fff;
}

@media only screen and (min-width: 600px) {
	.slide1 {
		width: 30rem;
		max-height: 620px;
	}

	.header1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	.text1 {
		font-size: 16px;
	}

	.testimonialContainer {
		max-width: 90%;
	}

	.SchoolContainer {
		max-width: 90%;
	}

	.jared {
		display: block;
	}

	.singleButton1 {
		width: 500px;
	}

	.singleButton2 {
		width: 500px;
	}
}

@media only screen and (min-width: 950px) {
	.slide1 {
		width: 45rem;
		max-height: 520px;
		margin-bottom: 3rem;
	}

	.header1 {
		font-size: 3rem;
		padding-top: 3.4rem;
	}

	.text1 {
		font-size: 18px;
		padding: 10px;
	}

	.testimonialContainer {
		max-width: 55rem;
	}
	
	.schoolContainer {
		max-width: 55rem;
	}

	.jared {
		display: block;
	}

	.button {
		display: grid;
		max-width: 80%;
	}

	.div {
		grid-template-columns: 80% 20%;
		max-width: 70%;
	}

	.linkTitle {
		font-size: 25px;
		line-height: 28px;
	}

	.singleButton1 {
		max-width: 200px;
	}

	.singleButton2 {
		max-width: 200px;
	}
}
