.container {
    background-color: rgb(238, 238, 238);
}

.slide1{
    background-image: url('/carousel/slide1_3.svg');
    height: 535px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.slide2 {
    background-image: url('/carousel/slide2_3.svg');
    height: 535px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

.slide3 {
    background-image: url('/carousel/slide3_3.svg');
    height: 535px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

/* slide 1 */
.header1 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    color: #FE5F00;
    padding-top: 3.8rem;
    width: 40%;
    margin: auto;
}
.text1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12.5px;
    padding: 10px;
    width: 40%;
    margin: auto;
}

/* slide 2 */
.header2 {
    font-size: 2.1rem;
    color: #ff74a3;
    padding-top: 2.5rem;
    width: 45%;
    margin: auto;
}
.text2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12.5px;
    padding: 10px;
    width: 49%;
    margin: auto;
}

/* slide 3 */
.header3 {
    font-size: 1.4rem;
    color: #b251ea;
    padding-top: 5rem;
    width: 45%;
    margin: auto;
}
.text3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12.5px;
    padding: 10px;
    width: 48%;
    margin: auto;
}

@media only screen and (min-width: 600px) {
    /* for tablets */
    .slide1 {
        background-image: url('/carousel/slide1_2.svg');
        height: 620px;
    }
    .slide2 {
        background-image: url('/carousel/slide2_2.svg');
        height: 620px;
    }
    .slide3 {
        background-image: url('/carousel/slide3_2.svg');
        height: 620px;
    }

    /* slide 1 */
    .header1 {
        font-size: 3rem;
        line-height: 3.5rem;
        width: 52%;
    }
    .text1 {
        font-size: 18px;
        width: 52%;
    }
    /* slide 2 */
    .header2 {
        font-size: 2.8rem;
        padding-top: 5.5rem;
        width: 60%;
    }
    .text2 {
        font-size: 18px;
        width: 62%;
    }

    /* slide 3 */
    .header3 {
        font-size: 1.9rem;
        padding-top: 9rem;
    }
    .text3 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 950px) {
    /* for desktop */
    .slide1 {
        background-image: url('/carousel/slide1_1.svg');
        height: 520px;
    }
    .slide2 {
        background-image: url('/carousel/slide2_1.svg');
        height: 520px;
    }
    .slide3 {
        background-image: url('/carousel/slide3_1.svg');
        height: 520px;
    }

    /* slide 1 */
    .header1 {
        font-size: 3rem;
        line-height: 3.6rem;
        padding-top: 3.4rem;
        width: 40%;
        }
    .text1 {
        font-size: 18px;
        padding: 10px;
        width: 40%;
    }
    /* slide 2 */
    .header2 {
        font-size: 4rem;
        width: 42%;
        padding-top: 3rem;
    }
    .text2 {
        font-size: 18px;
        padding: 10px;
        width: 43%;
    }

    /* slide 3 */
    .header3 {
        font-size: 2rem;
        padding-top: 6rem;
        width: 30%;
    }
    .text3 {
        font-size: 16px;
        padding: 10px;
        width: 32%;
    }
}

/* testimonial */
.testimonialContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    max-width: 70%;
    margin: 40px auto;
    padding: 30px 0px;
}

.jared {
    max-width: 100%;
    width: 150px;
}

.testText {
    padding-left: 20px;
    background-color: rgb(255, 239, 206);
    border-radius: 40px;
    margin: 0px 20px;
    padding: 30px;
}

.quote {
    font-size: 17px;
}

.name {
    font-size: 15px;
    color: rgb(168, 168, 168);
    padding-top: 10px;
}


