.doorContainer {
  overflow: hidden;
}

.puzzleArea {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.door {
  background-image: url(/puzzle/circuit-board.svg);
  background-repeat: repeat;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 80;
}

#leftDoor {
  left: 0;
  border-right: solid 2px #050515;
}

#rightDoor {
  right: 0;
  border-left: solid 2px #050515;
}

.doorLogoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#leftLogo {
  background-image: url(/puzzle/left-sm.svg);
  right: 0;
  border-left: solid 1px #ccc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#rightLogo {
  background-image: url(/puzzle/right-sm.svg);
  left: 0;
  border-right: solid 1px #ccc;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#leftLogo, #rightLogo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 215px;
  width: 129px;
  z-index: 100;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.piece {
  width: 129px;
  height: 107.5px;
  margin: 0 -1px -1px;
  background-repeat: no-repeat;
  display: grid;
  position: relative;
  z-index: 10;
}

.hero {
  display: flex;
  padding: 2rem 1rem 1rem;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  padding: 0.5rem 2rem 3.5rem;
  text-align: center;
}

.intro > h3 {
  font-weight: 700;
  font-size: 55px;
}

.moohpDesc {
  font-weight: 500;
  margin-bottom: 20px;
}

.moohpDesc, .moohpDesc li {
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.jerryWelcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  padding: 1.5rem 0px 2.5rem;
  justify-content: center;
  align-items: center;
}

.initialGreeting {
  font-size: 1.05rem;
}

.initialWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.inputName {
  width: 100%;
  caret-color: #000;
  color: #000;
  font-weight: 500;
  border-radius: 7.5px;
  padding: 0.4rem 0.5rem;
  border: solid 1.75px #66d9ff;
  line-height: 0.9rem;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.inputName:focus {
  border: solid 1.75px #e74694;
  box-shadow: none;
}

.inputName::placeholder {
  font-size: 0.83rem;
}

.enterName span {
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 0.9rem;
}

.welcomeAgent {
  font-size: 1.05rem;
  padding: 1rem;
  border: solid 1.5px #fff;
  border-radius: 20px;
  box-shadow: rgba(75, 203, 223, 0.349) 0px 7px 29px 0px;
}

.jerrySignature {
  margin-top: 0.5rem;
  font-style: italic;
}

.bottomNav {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2.5rem;
  padding: 1.25rem 1.1rem;
  border: solid 1px #fff;
  border-radius: 7.5px;
}

/* use more selectors for higher specificity */
.bottomNav h3.whereNext {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 7.5px;
}

.bottomNav button {
  width: 100%;
  padding: 0.2rem;
  color: #66d9ff;
  border: solid 2px #66d9ff;
  background: none;
  transition: background-color 0.2s, color 0.2s;
}

.bottomNav button:hover {
  background-color: #66d9ff;
  color: #000;
}

.bottomNav button span {
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 0.9rem;
}

@media screen and (min-width: 640px) {
  .hero {
    padding: 2.5rem 15vw 1.5rem;
  }

  .initialWelcome {
    padding: 1rem;
    row-gap: 0.8rem;
  }

  .inputGroup {
    row-gap: 0.7rem;
  }

  .welcomeAgent {
    font-size: 1.25rem;
    letter-spacing: 0.3px;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .intro > h3 {
    font-size: 65px;
  }

  .initialWelcome {
    row-gap: 1rem;
  }

  .initialGreeting {
    font-size: 1.3rem;
  }

  .inputGroup {
    row-gap: 0.8rem;
  }

  .inputName {
    line-height: 1rem;
    font-size: 1.05rem;
  }

  .inputName::placeholder {
    font-size: 0.9rem;
  }

  .enterName span {
    font-size: 1rem;
    line-height: 1rem;
  }

  .welcomeAgent {
    font-size: 1.4rem;
    letter-spacing: 0.35px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.75rem;
    column-gap: 0.75rem;
  }
}

@media screen and (min-width: 850px) {
  .initialWelcome {
    row-gap: 1.5rem;
  }

  .initialGreeting {
    font-size: 1.5rem;
  }

  .inputGroup {
    row-gap: 0.9rem;
  }

  .inputName {
    line-height: 1.05rem;
    font-size: 1.1rem;
  }

  .inputName::placeholder {
    font-size: 1rem;
  }

  .enterName span {
    font-size: 1.05rem;
    line-height: 1.05rem;
  }

  .welcomeAgent {
    font-size: 1.5rem;
    letter-spacing: 0.4px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding: 2em 20vw;
  }

  .piece {
    width: 150px;
    height: 125px;
  }

  #leftLogo, #rightLogo {
    height: 250px;
    width: 150px;
  }

  #leftLogo {
    background-image: url(/puzzle/left.svg);
  }

  #rightLogo {
    background-image: url(/puzzle/right.svg);
  }

  .moohpDesc {
    margin-bottom: 25px;
  }

  .moohpDesc, .moohpDesc li {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    padding: 0px 0.5rem;
  }

  .jerryWelcome {
    grid-template-columns: 1.5fr 2.5fr;
    padding: 1.7rem 0.5rem 2.7rem;
  }

  .initialWelcome {
    row-gap: 1.8rem;
  }

  .initialGreeting {
    font-size: 1.7rem;
  }

  .inputGroup {
    row-gap: 1rem;
  }

  .inputName, .inputName::placeholder, .enterName span {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .welcomeAgent {
    font-size: 1.6rem;
    letter-spacing: 0.45px;
    padding: 1.3rem;
  }
}

@media screen and (min-width: 2000px) {
  .buttons {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}