.header {
    text-align: center;
    font-size: 70px;
    padding-top: 40px;
}

.div {
    padding-bottom: 3ch;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
}

.cardContainer {
    box-shadow: none;
    border: 8px #FF58C4 solid;
    border-radius: 20px;
}

.cardContainer img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 3px #FF58C4 solid;
}

.avatarContainer {
    display:block;
    float: left;
    padding-bottom: 20px;
    padding-right: 10px;
}

.author {
    padding-right: 1rem;
    font-size: 16px;
}

.date {
    font-size: 15px;
    line-height: 1rem;
    color: rgb(86, 86, 86);
    padding-bottom: 10px;
}

.username {
    color: #faa5dc;
    font-size: 15px;
}

.hashtag {
    color: rgb(137, 40, 255);
}

.hashtag:hover {
    text-decoration: underline;
}

.commentContainer {
    font-size: 14px;
    padding: 0.5rem 0rem;
}

.commenter {
    color: #FF58C4;
}

@media only screen and (min-width: 600px) {
    /* for tablets */
    .container {
        width: 500px;
    }
}

@media only screen and (min-width: 1000px) {
    /* for desktop */
    .container {
        width: 700px;
    }
}
