.container {
  background: linear-gradient(180deg, #9c1aff 0%, rgb(119, 0, 255) 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadrant {
  width: 150px;
  height: 125px;
  position: absolute;
}

#one {
  top: 0;
  left: 0;
}

#two {
  top: 0;
  right: 0;
}

#three {
  bottom: 0;
  left: 0;
}

#four {
  bottom: 0;
  right: 0;
}

.area {
  opacity: 0.2;
  background: white;
  width: 300px;
  height: 250px;
  position: relative;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.piecesContainer {
  width: 300px;
  height: 250px;
  position: relative;
}

.piece {
  width: 150px;
  height: 125px;
  position: absolute;
  z-index: 999;
}

#pieceone {
  background-image: url(/puzzle/one.png);
}

#piecetwo {
  background-image: url(/puzzle/two.png);
}

#piecethree {
  background-image: url(/puzzle/three.png);
}

#piecefour {
  background-image: url(/puzzle/four.png);
}