.pageWrapper {
  color: #fff;
  padding: 50px 2.5rem;
  display: grid;
  grid-row-gap: 2.5rem;
  row-gap: 2.5rem;
}

.pageWrapper img {
  border-radius: 35px;
  border: solid 2.5px #000;
}

.title {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.intro {
  font-size: 1.3rem;
  font-weight: 500;
}

.container, .imageContainer, .rowOne, .vidRow {
  border: solid 2px #fff;
  border-radius: 35px;
  display: grid;
  padding: 25px 30px;
  grid-row-gap: 2rem;
  row-gap: 2rem;
}

.container, .imageContainer, .vidRow {
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: 20px;
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.rowTwo, .rowThree {
  display: grid;
  grid-row-gap: 2.5rem;
  row-gap: 2.5rem;
}

.rowTwoModels {
  display: grid;
  width: 100%;
  grid-row-gap: 2rem;
  row-gap: 2rem;
}

.subheading {
  font-size: 2rem;
  font-weight: 600;
}

.video {
  margin: 0 auto;
  width: 70vw;
  height: 50vw;
  padding-bottom: 30px;
}

.vidHeader {
  color: white;
  font-size: 40px;
  font-weight: bolder;
  padding: 0.75rem 1rem 1.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    row-gap: 3rem;
  }

  .intro {
    font-size: 1.45rem;
  }

  .video {
    width: 70vw;
    height: 40vw;
    padding-bottom: 40px;
  }

  .vidHeader {
    font-size: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .pageWrapper {
    row-gap: 3.5rem;
  }

  .rowOne, .vidRow {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
    column-gap: 2.5rem;
    height: 300px;
  }

  .rowOne model-viewer {
    height: 100%;
  }

  .intro {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .imageContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .rowTwo {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    column-gap: 2rem;
  }

  .rowTwo .container:nth-child(1) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.8rem;
    column-gap: 1.8rem;
  }
  
  .rowTwoModels {
    height: 100%;
  }

  .rowThree {
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 2rem;
    column-gap: 2rem;
  }
}