.container {
  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.printUnverified {
  background-image: url(/idscan/fingerprint.svg);
  height: 100%;
  background-repeat: no-repeat;
  z-index: 5;
}

.printVerified {
  background-image: url(/idscan/fingerprint-scanned.svg);
  background-repeat: no-repeat;
  height: 0%;
  z-index: 10;
  animation: scan 4.0s linear forwards;
  -webkit-animation: scan 4.0s linear forwards;
}

.printUnverified, .printVerified {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
}

.cardUnverified, .cardVerified {
  display: none;
}

#scan {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

#scanPaused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.hide {
  display: none;
}

.idScan {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
}

.fingerprint, .idCard {
  position: relative;
  width: 100%;
  height: 100%;
}

.scanCursor {
  position: absolute;
  top: 0;
  border-radius: 8px;
  height: 12px;
  width: 100%;
  /* absolute positioning trick for horizontal centering */
}

@keyframes scan {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes cursorScan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media screen and (min-width: 767px) {

  .cardUnverified,
  .cardVerified {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  .cardUnverified {
    background-image: url(../public/idscan/id-card.svg);
    height: 100%;
    background-repeat: no-repeat;
    z-index: 5;
  }

  .cardVerified {
    background-image: url(../public/idscan/id-card-scanned.svg);
    height: 0%;
    background-repeat: no-repeat;
    z-index: 10;
    animation: scan 4.0s linear forwards;
    -webkit-animation: scan 4.0s linear forwards;
  }

  .fingerprint {
    margin-right: 2em;
  }
}
