.container {
  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idUnverified {
  background-image: url(/idscan/fingerprint.svg);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
}

.idUnverified::before {
  content: '';
  background-image: url(/idscan/fingerprint-scanned.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 10;
  animation: scan 4.0s linear forwards;
  -webkit-animation: scan 4.0s linear forwards;
  -webkit-animation-play-state: inherit;
  -moz-animation-play-state: inherit;
  -o-animation-play-state: inherit;
  animation-play-state: inherit;
}

.scanCursor {
  position: absolute;
  border-radius: 8px;
  height: 8px;
  border: solid 2px #3a4092;
  width: 100%;
  background: #a4a7db;
  animation: cursorScan 4.0s linear forwards;
  -webkit-animation: cursorScan 4.0s linear forwards;
  -webkit-animation-play-state: inherit;
  -moz-animation-play-state: inherit;
  -o-animation-play-state: inherit;
  animation-play-state: inherit;
}

@keyframes scan {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes cursorScan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@media screen and (min-width: 767px) {
  .idUnverified {
    background-image: url(/idscan/id.svg);
  }

  .idUnverified::before {
    background-image: url(/idscan/id-scanned.svg);
  }
}
